{% extends "user_app/base.html" %}

{%block content%}

<div>
    <div>
        <h1>Verification Email Sent!</h1>
        <p>Please verify your account by clicking on the link provided in the verification email.</p>

        <p>If for some reason you did not receive the verification email, you may request a new link below:</p>
        <form method='POST' >
            {% csrf_token %}
            {{form}}
            <div>
                <button type="submit">Request New Email</button>
            </div>
        </form>
    </div>
    <div>
        <a href="{% url 'login' %}">Login</a>
    </div>
</div>

{% endblock %}